
@font-face {
    font-family: "faune.otf";
    src: url(font/faune.otf);
}
@font-face {
    font-family:"light" ;
    src: url(font/light.ttf);
}

/*texte*/

title{
    font-family: "light";

}

h1{
    font-family: "light";
    font-size: 40pt;
    top: 400px; left: 40px;
    color: #9AEBA3;
}
h2{
    font-family: "light";
    font-size: 40pt;
    top: 40px; right: 40px;
    color:#9AEBA3;
}


    
*, ::before, ::after{

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


header{
    position: absolute;
    top: 10%;
    left: 10%;

}

FOOter{
    position: absolute;
    bottom: 10%;
    right: 10%;

}


main{
    background-color: #45C4B0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}
/*cercle de base*/
.box {
    position: relative;
    top: -15%; left: 5%;
    color:#9AEBA3;
    cursor: pointer;
    
    transition: transform 0.4s cubic-bezier(0.23,1.83,0.42,1.19);
}

.box:hover {
    transform: scale(1.2);



}

.box p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    letter-spacing:3px;
    font-family:"light" ;
    color: #9AEBA3;

}

.circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
   /* background: rgb(94, 6, 6);*/
    border: 3px solid #9AEBA3;
    animation: 1s linear infinite alternate boxMagic,
               4s linear infinite spinning;
    padding-top: 20px;    
     
    

}

@keyframes boxMagic{
    from {
        box-shadow: 
        0 0 0 ,#9AEBA3
        0 0 0 #000000,
        0 0 0 #9AEBA3,
        0 0 0 #000000;
    }
    to {
        box-shadow: 
        0 -10px 0 #9AEBA3,
        -10px 0 0 #000,
        0 10px 0 #9AEBA3,
        10px 0 0 #000000;

    }
}
@keyframes spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*cercle2*/
.box1 {
    position: relative;
    top: 15%; left: -12%;
    color: #9AEBA3;
    cursor: pointer;
    
    transition: transform 0.4s cubic-bezier(0.23,1.83,0.42,1.19);
}

.box1:hover {
    transform: scale(1.2);



}

.box1 p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    letter-spacing:3px;
    font-family:"light" ;
    color:#9AEBA3;

}

.circle2 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
   /* background: rgb(94, 6, 6);*/
    border: 3px solid #9AEBA3;
    animation: 1s linear infinite alternate boxMagic,
               4s linear infinite spinning;
    padding-top: 20px;    
     
    

}

@keyframes boxMagic{
    from {
        box-shadow: 
        0 0 0 ,#9AEBA3
        0 0 0 #000000,
        0 0 0 #9AEBA3,
        0 0 0 #000000;
    }
    to {
        box-shadow: 
        0 -10px 0 #9AEBA3,
        -10px 0 0 #000,
        0 10px 0 #9AEBA3,
        10px 0 0 #000000;

    }
}
@keyframes spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*cercle3*/
.box3 {
    position: relative;
     left: 97px;
     top: 15%; 
    color: #9AEBA3;
    cursor: pointer;
    
    transition: transform 0.4s cubic-bezier(0.23,1.83,0.42,1.19);
}

.box3:hover {
    transform: scale(1.2);



}

.box3 p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    letter-spacing:3px;
    font-family:"light" ;
    color:#9AEBA3;

}

.circle3 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
   /* background: rgb(94, 6, 6);*/
    border: 3px solid #9AEBA3;
    animation: 1s linear infinite alternate boxMagic,
               4s linear infinite spinning;
    padding-top: 20px;    
     
    

}
@keyframes boxMagic{
    from {
        box-shadow: 
        0 0 0 ,#9AEBA3
        0 0 0 #000000,
        0 0 0 #9AEBA3,
        0 0 0 #000000;
    }
    to {
        box-shadow: 
        0 -10px 0 #9AEBA3,
        -10px 0 0 #000,
        0 10px 0 #9AEBA3,
        10px 0 0 #000000;

    }
}
@keyframes spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*cercle4*/
.box4 {
    position: relative;
     left: -150px;
     top: -15%; 
    color: #9AEBA3;
    cursor: pointer;
    
    transition: transform 0.4s cubic-bezier(0.23,1.83,0.42,1.19);
}

.box4:hover {
    transform: scale(1.2);



}

.box4 p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    letter-spacing:3px;
    font-family:"light" ;
    color:#9AEBA3;

}

.circle4 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
   /* background: rgb(94, 6, 6);*/
    border: 3px solid #9AEBA3;
    animation: 1s linear infinite alternate boxMagic,
               4s linear infinite spinning;
    padding-top: 20px;    
     
    

}
@keyframes boxMagic{
    from {
        box-shadow: 
        0 0 0 #9AEBA3,
        0 0 0 #000000,
        0 0 0 #9AEBA3,
        0 0 0 #000000;
    }
    to {
        box-shadow: 
        0 -10px 0 #9AEBA3,
        -10px 0 0 #000,
        0 10px 0 #9AEBA3,
        10px 0 0 #000000;

    }
}
@keyframes spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/*cercle5*/
.box5 {
    position: relative;
     left: 165px;
     top: -15%; 
    color: #9AEBA3;
    cursor: pointer;
    
    transition: transform 0.4s cubic-bezier(0.23,1.83,0.42,1.19);
}

.box5:hover {
    transform: scale(1.2);



}

.box5 p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    letter-spacing:3px;
    font-family:"light" ;
    color:#9AEBA3;

}

.circle5 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
   /* background: rgb(94, 6, 6);*/
    border: 3px solid #9AEBA3;
    animation: 1s linear infinite alternate boxMagic,
               4s linear infinite spinning;
    padding-top: 20px;    
     
    

}
@keyframes boxMagic{
    from {
        box-shadow: 
        0 0 0 #9AEBA3,
        0 0 0 #000000,
        0 0 0 #9AEBA3,
        0 0 0 #000000;
    }
    to {
        box-shadow: 
        0 -10px 0 #9AEBA3,
        -10px 0 0 #000,
        0 10px 0 #9AEBA3,
        10px 0 0 #000000;

    }
}
@keyframes spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*cercle6*/
.box6 {
    position: relative;
     left: -90px;
     top: 15%; 
    color: #9AEBA3;
    cursor: pointer;
    
    transition: transform 0.4s cubic-bezier(0.23,1.83,0.42,1.19);
}

.box6:hover {
    transform: scale(1.2);



}

.box6 p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    letter-spacing:3px;
    font-family:"light" ;
    color:#9AEBA3;

}

.circle6 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
   /* background: rgb(94, 6, 6);*/
    border: 3px solid #9AEBA3;
    animation: 1s linear infinite alternate boxMagic,
               4s linear infinite spinning;
    padding-top: 20px;    
     
    

}
@keyframes boxMagic{
    from {
        box-shadow: 
        0 0 0 #9AEBA3,
        0 0 0 #000000,
        0 0 0 #9AEBA3,
        0 0 0 #000000;
    }
    to {
        box-shadow: 
        0 -10px 0 #9AEBA3,
        -10px 0 0 #000,
        0 10px 0 #9AEBA3,
        10px 0 0 #000000;

    }
}
@keyframes spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

