
@font-face {
    font-family: "faune.otf";
    src: url(font/faune.otf);
}
@font-face {
    font-family:"light" ;
    src: url(font/light.ttf);
}

/*texte*/

title{
    font-family: "light";

}

h1{
    font-family: "light";
    font-size: 40pt;
    top: 400px; left: 40px;
    color: rgb(0, 233, 4);
}
h2{
    font-family: "light";
    font-size: 40pt;
    top: 40px; right: 40px;
    color: rgb(0, 233, 4);
}


    
*, ::before, ::after{

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


header{
    position: absolute;
    top: 10%;
    left: 10%;

}

FOOter{
    position: absolute;
    bottom: 10%;
    right: 10%;
    color: #000000;

}




main{
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
    

}
/*cerle de base */

.box {
    position: relative;
    right: 5%;
    color:rgb(0, 233, 4);
    cursor: pointer;
    
    transition: transform 0.4s cubic-bezier(0.23,1.83,0.42,1.19);
}

.box:hover {
    transform: scale(1.2);



}

.box p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    letter-spacing:3px;
    font-family:"light" ;
    color: rgb(0, 233, 4);

}

.circle {
    width: 320px;
    height: 320px;
    border-radius: 50%;
   /* background: rgb(94, 6, 6);*/
    border: 3px solid rgb(0, 233, 4);
    animation: 1s linear infinite alternate boxMagic,
               4s linear infinite spinning;
    padding-top: 340px;    
     
    

}

@keyframes boxMagic{
    from {
        box-shadow: 
        0 0 0 #ff7b00,
        0 0 0 #00ff55,
        0 0 0 #ffffff,
        0 0 0 #00ff55;
    }
    to {
        box-shadow: 
        0 -10px 0 #ff7b00,
        -10px 0 0 #00ff55,
        0 10px 0 #f1f1f1,
        10px 0 0 #00ff55;

    }
}
@keyframes spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*cercle2*/
.box1 {
    position: relative;
     left: 40px;
    color: #f1f1f1;
    cursor: pointer;
    
    transition: transform 0.4s cubic-bezier(0.23,1.83,0.42,1.19);
}

.box1:hover {
    transform: scale(1.2);



}

.box1 p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    letter-spacing:3px;
    font-family:"light" ;
    color:#00ff55 ;

}

.circle2 {
    width: 320px;
    height: 320px;
    border-radius: 50%;
   /* background: rgb(94, 6, 6);*/
    border: 3px solid #00ff55;
    animation: 1s linear infinite alternate boxMagic,
               4s linear infinite spinning;
    padding-top: 340px;    
     
    

}

@keyframes boxMagic{
    from {
        box-shadow: 
        0 0 0 #f1f1f1,
        0 0 0 #00ff55,
        0 0 0 #ffffff,
        0 0 0 #00ff55;
    }
    to {
        box-shadow: 
        0 -10px 0 #f1f1f1,
        -10px 0 0 #00ff55,
        0 10px 0 #f1f1f1,
        10px 0 0 #00ff55;

    }
}
@keyframes spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
